<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flc.coinmarket.dao.mysql.mapper.consumer.ConsumerSettingsMapper">
  <resultMap id="BaseResultMap" type="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettings">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="consumer_id" jdbcType="INTEGER" property="consumerId" />
    <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="auto_transfer" jdbcType="VARCHAR" property="autoTransfer" />
    <result column="capital_password" jdbcType="VARCHAR" property="capitalPassword" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, consumer_id, head_portrait, nick_name, auto_transfer, capital_password
  </sql>
  <select id="selectByExample" parameterType="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettingsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from consumer_settings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consumer_settings
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from consumer_settings
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettingsExample">
    delete from consumer_settings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettings">
    insert into consumer_settings (id, consumer_id, head_portrait, 
      nick_name, auto_transfer, capital_password
      )
    values (#{id,jdbcType=INTEGER}, #{consumerId,jdbcType=INTEGER}, #{headPortrait,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{autoTransfer,jdbcType=VARCHAR}, #{capitalPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettings">
    insert into consumer_settings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="consumerId != null">
        consumer_id,
      </if>
      <if test="headPortrait != null">
        head_portrait,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="autoTransfer != null">
        auto_transfer,
      </if>
      <if test="capitalPassword != null">
        capital_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="consumerId != null">
        #{consumerId,jdbcType=INTEGER},
      </if>
      <if test="headPortrait != null">
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="autoTransfer != null">
        #{autoTransfer,jdbcType=VARCHAR},
      </if>
      <if test="capitalPassword != null">
        #{capitalPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettingsExample" resultType="java.lang.Long">
    select count(*) from consumer_settings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update consumer_settings
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.consumerId != null">
        consumer_id = #{record.consumerId,jdbcType=INTEGER},
      </if>
      <if test="record.headPortrait != null">
        head_portrait = #{record.headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null">
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.autoTransfer != null">
        auto_transfer = #{record.autoTransfer,jdbcType=VARCHAR},
      </if>
      <if test="record.capitalPassword != null">
        capital_password = #{record.capitalPassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update consumer_settings
    set id = #{record.id,jdbcType=INTEGER},
      consumer_id = #{record.consumerId,jdbcType=INTEGER},
      head_portrait = #{record.headPortrait,jdbcType=VARCHAR},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      auto_transfer = #{record.autoTransfer,jdbcType=VARCHAR},
      capital_password = #{record.capitalPassword,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettings">
    update consumer_settings
    <set>
      <if test="consumerId != null">
        consumer_id = #{consumerId,jdbcType=INTEGER},
      </if>
      <if test="headPortrait != null">
        head_portrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="autoTransfer != null">
        auto_transfer = #{autoTransfer,jdbcType=VARCHAR},
      </if>
      <if test="capitalPassword != null">
        capital_password = #{capitalPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flc.coinmarket.dao.mysql.model.consumer.ConsumerSettings">
    update consumer_settings
    set consumer_id = #{consumerId,jdbcType=INTEGER},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      auto_transfer = #{autoTransfer,jdbcType=VARCHAR},
      capital_password = #{capitalPassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>